.static-box {
    background-color:lightcoral;
    color:white;
    padding: 20px;
    border: 2px dotted black;
    
    position: static;
}

.relative-box {
    background-color:lightcoral;
    color:white;
    padding: 20px;
    border: 2px solid blue;

    position:relative;
}
.static-box a {
    text-decoration: none;
    color:black;
    border: none;
    box-shadow: none;
}
